<!DOCTYPE html>
<html>
<head>
    <title>Crypto Arbitrage</title>
    <meta http-equiv="refresh" content="5" />
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: center;    
}
</style>
</head>

<body>
  <br> USD/TRY = {{.USDTRY}}
  <br> USD/JPY = {{.USDJPY}}
  <table style="width:50%">
  <tr>
  	<th></th>
    <th>GDAX</th>
    <th colspan="2">Paribu</th> 
    <th colspan="2">BTCTurk</th>
    <th colspan="2">Koineks</th>
    <th colspan="2">Bitflyer</th>
  </tr>
  <tr>
  	<th>Symbol</th>
    <th>ASK</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
  </tr>
  <tr>
  	<td>BTC</td>
    <td>{{.GdaxBTC}}</td>
    <td>%{{.ParibuBTCAsk}}</td>
    <td>%{{.ParibuBTCBid}}</td> 
    <td>%{{.BTCTurkBTCAsk}}</td>
    <td>%{{.BTCTurkBTCBid}}</td>
    <td>%{{.KoineksBTCAsk}}</td>
    <td>%{{.KoineksBTCBid}}</td>
    <td>%{{.BitflyerBTCAsk}}</td>
    <td>%{{.BitflyerBTCBid}}</td>
  </tr>
  <tr>
  	<td>ETH</td>
    <td>{{.GdaxETH}}</td>
    <td>-</td> 
    <td>-</td> 
    <td>%{{.BTCTurkETHAsk}}</td>
    <td>%{{.BTCTurkETHBid}}</td>
    <td>%{{.KoineksETHAsk}}</td>
    <td>%{{.KoineksETHBid}}</td>
    <td>-</td> 
    <td>-</td> 
  </tr>
  <tr>
  	<td>LTC</td>
    <td>{{.GdaxLTC}}</td>
    <td>-</td> 
    <td>-</td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.KoineksLTCAsk}}</td>
    <td>%{{.KoineksLTCBid}}</td>
    <td>-</td> 
    <td>-</td> 
  </tr>
  </table>

<br>
<br>
<br>
  <table style="width:50%">
  <tr>
    <th></th>
    <th>GDAX</th>
    <th colspan="2">BTCTurk</th> 
  </tr>
  <tr>
    <th>Symbol</th>
    <th>ASK</th>
    <th>ASK/BID</th>
    <th>BID/ASK</th>
  </tr>
  <tr>
    <td>ETH/BTC</td>
    <td>{{.GdaxETHBTC}}</td>
    <td>%{{.BTCTurkETHBTCAskBid}}</td>
    <td>%{{.BTCTurkETHBTCBidAsk}}</td>
  </tr>
  </table>


</body>
</html>`