<!DOCTYPE html>
<html>
<head>
    <title>Crypto Arbitrage</title>
    <meta http-equiv="refresh" content="5" />
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: center;    
}
</style>
</head>

<body>
  <br> USD/TRY = {{.USDTRY}}
  <br> USD/JPY = {{.USDJPY}}
  <table style="width:70%">
  <tr>
  	<th></th>
    <th>GDAX</th>
    
    <th colspan="2">BTCTurk</th>
    <th colspan="2">Koineks</th>
    <th colspan="2">Koinim</th>
    <th colspan="2">Vebitcoin</th>
    <th colspan="2">Paribu</th>
    <th colspan="2">Bitflyer</th>
  </tr>
  <tr>
  	<th>Symbol</th>
    <th>ASK</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
    <th>ASK</th>
    <th>BID</th>
  </tr>
  <tr>
  	<td>BTC</td>
    <td>{{.GdaxBTC}}</td>
    <td>%{{.BTCTurkBTCAsk}} <br><small><i> ({{.BTCTurkBTCAskPrice}})</small></td>
    <td>%{{.BTCTurkBTCBid}} <br><small><i> ({{.BTCTurkBTCBidPrice}})</small></td>
    <td>%{{.KoineksBTCAsk}} <br><small><i> ({{.KoineksBTCAskPrice}})</small></td>
    <td>%{{.KoineksBTCBid}} <br><small><i> ({{.KoineksBTCBidPrice}})</small></td>
    <td>%{{.KoinimBTCAsk}} <br><small><i> ({{.KoinimBTCAskPrice}})</small></td>
    <td>%{{.KoinimBTCBid}} <br><small><i> ({{.KoinimBTCBidPrice}})</small></td>
    <td>%{{.VebitcoinBTCAsk}} <br><small><i> ({{.VebitcoinBTCAskPrice}})</small></td>
    <td>%{{.VebitcoinBTCBid}} <br><small><i> ({{.VebitcoinBTCBidPrice}})</small></td>
    <td>%{{.ParibuBTCAsk}} <br><small><i> ({{.ParibuBTCAskPrice}})</small></td>
    <td>%{{.ParibuBTCBid}} <br><small><i> ({{.ParibuBTCBidPrice}})</small></td> 
    <td>%{{.BitflyerBTCAsk}} <br><small><i> ({{.BitflyerBTCAskPrice}})</small></td>
    <td>%{{.BitflyerBTCBid}} <br><small><i> ({{.BitflyerBTCBidPrice}})</small></td>
  </tr>
  <tr>
  	<td>ETH</td>
    <td>{{.GdaxETH}}</td>
    <td>%{{.BTCTurkETHAsk}} <br><small><i> ({{.BTCTurkETHAskPrice}})</small></td>
    <td>%{{.BTCTurkETHBid}} <br><small><i> ({{.BTCTurkETHBidPrice}})</small></td>
    <td>%{{.KoineksETHAsk}} <br><small><i> ({{.KoineksETHAskPrice}})</small></td>
    <td>%{{.KoineksETHBid}} <br><small><i> ({{.KoineksETHBidPrice}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.VebitcoinETHAsk}} <br><small><i> ({{.VebitcoinETHAskPrice}})</small></td>
    <td>%{{.VebitcoinETHBid}} <br><small><i> ({{.VebitcoinETHBidPrice}})</small></td>
  </tr>
  <tr>
  	<td>LTC</td>
    <td>{{.GdaxLTC}}</td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.KoineksLTCAsk}} <br><small><i> ({{.KoineksLTCAskPrice}})</small></td>
    <td>%{{.KoineksLTCBid}} <br><small><i> ({{.KoineksLTCBidPrice}})</small></td>
    <td>%{{.KoinimLTCAsk}} <br><small><i> ({{.KoinimLTCAskPrice}})</small></td>
    <td>%{{.KoinimLTCBid}} <br><small><i> ({{.KoinimLTCBidPrice}})</small></td>
    <td>%{{.VebitcoinLTCAsk}} <br><small><i> ({{.VebitcoinLTCAskPrice}})</small></td>
    <td>%{{.VebitcoinLTCBid}} <br><small><i> ({{.VebitcoinLTCBidPrice}})</small></td>
  </tr>
  <tr>
    <td>BCH</td>
    <td>{{.GdaxBCH}}</td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.KoineksBCHAsk}} <br><small><i> ({{.KoineksBCHAskPrice}})</small></td>
    <td>%{{.KoineksBCHBid}} <br><small><i> ({{.KoineksBCHBidPrice}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.VebitcoinBCHAsk}} <br><small><i> ({{.VebitcoinBCHAskPrice}})</small></td>
    <td>%{{.VebitcoinBCHBid}} <br><small><i> ({{.VebitcoinBCHBidPrice}})</small></td>
  </tr>
  <tr>
    <td>DOGE</td>
    <td>{{.GdaxDOGE}} <br><small><i> ({{.BittrexDOGEAsk}}) (%{{.BittrexDOGESpread}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.KoineksDOGEAsk}} <br><small><i> ({{.KoineksDOGEAskPrice}})</small></td>
    <td>%{{.KoineksDOGEBid}} <br><small><i> ({{.KoineksDOGEBidPrice}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>-</td> 
    <td>-</td>
  </tr>
  <tr>
    <td>DASH</td>
    <td>{{.GdaxDASH}} <br><small><i> ({{.BittrexDASHAsk}}) (%{{.BittrexDASHSpread}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.KoineksDASHAsk}} <br><small><i> ({{.KoineksDASHAskPrice}})</small></td>
    <td>%{{.KoineksDASHBid}} <br><small><i> ({{.KoineksDASHBidPrice}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>-</td> 
    <td>-</td>
  </tr>
  <tr>
    <td>XRP</td>
    <td>{{.GdaxXRP}} <br><small><i> ({{.BittrexXRPAsk}}) (%{{.BittrexXRPSpread}})</small></td>
    <td>%{{.BTCTurkXRPAsk}} <br><small><i> ({{.BTCTurkXRPAskPrice}})</small></td>
    <td>%{{.BTCTurkXRPBid}} <br><small><i> ({{.BTCTurkXRPBidPrice}})</small></td>
    <td>%{{.KoineksXRPAsk}} <br><small><i> ({{.KoineksXRPAskPrice}})</small></td>
    <td>%{{.KoineksXRPBid}} <br><small><i> ({{.KoineksXRPBidPrice}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.VebitcoinXRPAsk}} <br><small><i> ({{.VebitcoinXRPAskPrice}})</small></td>
    <td>%{{.VebitcoinXRPBid}} <br><small><i> ({{.VebitcoinXRPBidPrice}})</small></td>
  </tr>
  <tr>
    <td>XLM</td>
    <td>{{.GdaxXLM}} <br><small><i> ({{.BittrexXLMAsk}}) (%{{.BittrexXLMSpread}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.KoineksXLMAsk}} <br><small><i> ({{.KoineksXLMAskPrice}})</small></td>
    <td>%{{.KoineksXLMBid}} <br><small><i> ({{.KoineksXLMBidPrice}})</small></td>
    <td>-</td>
    <td>-</td>
    <td>%{{.VebitcoinXLMAsk}} <br><small><i> ({{.VebitcoinXLMAskPrice}})</small></td>
    <td>%{{.VebitcoinXLMBid}} <br><small><i> ({{.VebitcoinXLMBidPrice}})</small></td> 
  </tr>
  <tr>
    <td>XEM</td>
    <td>{{.GdaxXEM}} <br><small><i> ({{.BittrexXEMAsk}}) (%{{.BittrexXEMSpread}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>%{{.KoineksXEMAsk}} <br><small><i> ({{.KoineksXEMAskPrice}})</small></td>
    <td>%{{.KoineksXEMBid}} <br><small><i> ({{.KoineksXEMBidPrice}})</small></td>
    <td>-</td> 
    <td>-</td>
    <td>-</td> 
    <td>-</td> 
  </tr>
  </table>

<br>
<br>
<br>

  <table style="width:50%">
  <tr>
    <th></th>
    <th colspan="2">Ask</th> 
    <th colspan="2">Bid</th>
  </tr>
  <tr>
    <th>Exchange</th>
    <th>Price</th>
    <th>Volume</th>
    <th>Price</th>
    <th>Volume</th>
  </tr>
  <tr>
    <td>Poloniex</td>
    <td>{{.PoloniexDOGEAskPrice}}</td>
    <td>{{.PoloniexDOGEAskVolume}}</td>
    <td>{{.PoloniexDOGEBidPrice}}</td>
    <td>{{.PoloniexDOGEBidVolume}}</td>
  </tr>
  <tr>
    <td>Bittrex</td>
    <td>{{.BittrexDOGEAskPrice}}</td>
    <td>{{.BittrexDOGEAskVolume}}</td>
    <td>{{.BittrexDOGEBidPrice}}</td>
    <td>{{.BittrexDOGEBidVolume}}</td>
  </tr>
  </table>

<br>
<br>
<br>
  <table style="width:50%">
  <tr>
    <th></th>
    <th>GDAX</th>
    <th colspan="2">BTCTurk</th>
    <th colspan="2">Koineks</th>
    <th colspan="2">Koinim</th> 
  </tr>
  <tr>
    <th>Symbol</th>
    <th>ASK</th>
    <th>ASK/BID</th>
    <th>BID/ASK</th>
    <th>ASK/BID</th>
    <th>BID/ASK</th>
    <th>ASK/BID</th>
    <th>BID/ASK</th>
  </tr>
  <tr>
    <td>ETH/BTC</td>
    <td>{{.GdaxETHBTC}}</td>
    <td>%{{.BTCTurkETHBTCAskBid}}</td>
    <td>%{{.BTCTurkETHBTCBidAsk}}</td>
    <td>%{{.KoineksETHBTCAskBid}}</td>
    <td>%{{.KoineksETHBTCBidAsk}}</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>LTC/BTC</td>
    <td>{{.GdaxLTCBTC}}</td>
    <td>-</td>
    <td>-</td>
    <td>%{{.KoineksLTCBTCAskBid}}</td>
    <td>%{{.KoineksLTCBTCBidAsk}}</td>
    <td>%{{.KoinimLTCBTCAskBid}}</td>
    <td>%{{.KoinimLTCBTCBidAsk}}</td>
  </tr>
  </table>

  <br> Warning = {{.Warning}}
</body>
</html>