<!DOCTYPE html>
<html>
<head>
    <title>Crypto Arbitrage</title>
    <meta http-equiv="refresh" content="20" />
</head>

<body>

<p>
  <table>
  <tr>
  	<th>Symbol</th>
    <th>GDAX</th>
    <th>Paribu</th> 
    <th>BTCTurk</th>
    <th>Koineks</th>
  </tr>
  <tr>
  	<td>BTC</td>
    <td>{{.GdaxBTC}}</td>
    <td>{{.ParibuBTC}}</td> 
    <td>{{.BTCTurkBTC}}</td>
    <td>{{.KoineksBTC}}</td>
  </tr>
  <tr>
  	<td>ETH</td>
    <td>{{.GdaxETH}}</td>
    <td>NaN</td> 
    <td>{{.BTCTurkETH}}</td>
    <td>{{.KoineksETH}}</td>
  </tr>
  <tr>
  	<td>LTC</td>
    <td>{{.GdaxLTC}}</td>
    <td>NaN</td> 
    <td>NaN</td>
    <td>{{.KoineksLTC}}</td>
  </tr>
</table>
</p>

</body>
</html>`