<!DOCTYPE html>
<html>
<head>
    <title>Crypto Arbitrage</title>
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: center;    
}
</style>
</head>

<body>
<form action="/notification">
  Notification :
   <input type="radio" id ="enable" name="enable" value="true"> <label for="enable">Enable</label>
   <input type="radio" id ="enable" name="enable" value="false"> <label for="enable">Disable</label>
   <br><br>
  Minimum Limit: <input name="minimum" type="text" value="{{.Minimum}}"><br><br>
  Maximum Limit: <input name="maximum" type="text" value="{{.Maximum}}"><br><br>
  Duration (minutes): <input name="duration" type="text" value="{{.Duration}}"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>