<!DOCTYPE html>
<html>
<head>
    <title>Crypto Arbitrage</title>
    <meta http-equiv="refresh" content="5" />
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
    text-align: center;    
}
</style>
</head>

<body>
{{.Message}}
</body>
</html>`